* { box-sizing: border-box; }

body { background-color: #84888B;
	background-image: linear-gradient(#ffffff, #84888B);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 95%;}

#wrapper {margin:0 auto;
	width: 80%;
	background-color: #0A2240;
	min-width: 940px;}

header {background-color:#A5ACB0;
	font-size: 120%;
	color: #00000;
	height: 150px;
	text-shadow: 1px 1px #A9A9A9;
	padding-top: 30px;
	padding-bottom: 8px;
	padding-left: 100px;}


header img {float: right;
  			height: 100px;
			width: auto;
			padding-right: 100px;}

#cabimg { float: right;
  padding-left: 20px;}

#content {background-color: #ffffff;
           color: #000000;
		   padding: 10px 20px;
		   overflow: auto;
		   text-align: justify-all;
		   min-height: 325px;}

.inlinelink {text-decoration: none;
		 font-weight: bold;
		 color: #2075BB;}

nav {float: right;
	letter-spacing: .1em;
	width: 150px;
	font-weight: bold;
	font-size: 100%;}

nav ul {margin: 0;
		padding: 0;
		list-style: none;}

nav a {padding:16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #FFFFFF;}

nav a:link {color: #FFFFFF;}
nav a:hover {color: #FFFFFF;}
nav a:visited {color: #0039A6;}

main {background-color:#FFFFFF;
	  color:#000000;
	  padding:10px 20px;
	  overflow:auto;
	  display:block;}

footer {background-color: #4888B;
		color: #FFFFFF;
		text-align: center;
		font-size: 70%;
		padding: 10px;
		clear: both;
		font-style: italic;}

form { padding: 2em; }
label { float: left;
	   display: block;
	   text-align: right;
	   padding-right: 1em;
	   width: 8em;}

input, textarea { display: block;
				margin-bottom: 1em;}

select { display: inline;
		 margin-bottom: 1em;}

#submit {display: block;
		 margin-top: 20px;
		 margin-left: 130px;}
		 margin-left: 130px;}


@media only screen and (min-width: 0px) and (max-width: 600px) {
	header { font-size: 50%;
			padding-bottom: 15px;
			padding-top: 5px;
			display: block;}
	nav {float: none;
		width: 100%;}

	nav ul {text-align: center;}

	#wrapper { margin: auto;
		       display: grid;
		       grid-template-rows: auto;
		       grid-template-columns: auto;
			   min-height: 100vh;
			   min-width: auto;}

	body {display: grid;
		  grid-template-rows: auto;
		  grid-template-columns: auto;}

}

@media only screen
 and (min-width: 600px)
 and (max-width: 1024px) {
	header {font-size: 175%;
			display: block;}
	nav {float: none;
		display: inline;
		width: 100%;}

	nav ul {text-align: center;}

	nav ul li {display: inline;}

	nav a {display: inline;
		   border-bottom: none;}

	#wrapper { margin: auto;
		       display: grid;
		       grid-template-rows: auto;
		       grid-template-columns: 1fr;}

	body {display: grid;
		  grid-template-rows: auto;
		  grid-template-columns: 1fr;}



	#videotext {font-size: 120%;
			font-weight: bolder;
			padding-top: 10px;
			padding-bottom: 0;}

	video {height: 100%;
		   width: 100%;}

}


